/*reset*/
* { margin:0; padding:0; }
li { list-style:none; }
a{ text-decoration:none; }
body { font-size:12px; }
.clearfix::after{content:''; display:block; clear:both;}
.wrapper { width:1200px; margin:0 auto;}

/*layout*/
.top { height:40px; border:1px solid #ccc; line-height: 35px;}
/*line-height: 상속된다*/
.top .notice {float:left;}
.top .icon{ float:right; }
.top .icon li { float:left; margin-left:10px; text-transform: uppercase;}
/*text-transform:소문자를 대문자로 바꿔주는 기능*/

/*header*/
header {}
header h1 { float: left; height:80px; line-height: 80px;}
header .search{ float: right; margin-top: 25px; }
header .search input{ height:30px; border:1px solid #ccc; padding:0 15px; border-radius: 5px;}

/*menu*/
nav{}
nav .menu{}
nav .menu li{ float:left; height:35px; line-height:35px;
    margin-right:20px;}
nav .menu li a {color:#222; font-weight:bold;}

/*visual*/
.visual{background: #999; height:350px; text-align: center; color:#fff; position:relative; }
.visual h2{padding:40px 0 20px;}
.visual p{margin-bottom:60px;}
.visual button{padding:10px 20px; background:none; border:2px solid white; color:white; border-radius: 5px; }
.visual .page{position:absolute; bottom:20px;
width:80px; left:50%; margin-left:-40px;}
/*가운데 정렬 하는법*/
.visual .page li {width:14px; height: 14px; border: 1px solid white; float:left; border-radius: 50%; margin:0 2px;}

/*most_love*/
.most_love{ text-align: center; }
.most_love h2{margin:40 0 20px;}
.most_love .category{}
.most_love .category li {float:left; height:30px; line-height: 30px; width:150px; text-transform: uppercase}
/*1200/8=150 가운데 정렬하지 않아도 됨.*/
.most_love .product{margin:30px 0;}
.most_love .product li{width:277.5px; height:300px; margin-right:30px; background-color: #999; float:left; margin-bottom: 30px;}
.most_love .product li:nth-child(3),
.most_love .product li:nth-child(6){width: 585px; margin-right:0;}
.most_love button{padding:10px 20px; background:none; border:2px solid #999; color:#999;}