*{ margin: 0; padding : 0; }

h1 { text-align: center; margin: 20px 0; }

.grid { border: 3px solid black; width:100px; height:100px; float: left; margin:3px; }

/*5개 영역으로 나뉘어진다*/
/*넓이+border+margin : 100 + 3 + 3 + 3+ 3 = 112px*5 = 560px*/

.container{ width: 560px; margin:0 auto;}

.grid1{width: 212px;}
.grid2{}
.grid3{width: 212px; height: 212px; float:right;}
.grid4{height: 212px; }
.grid5{width : 212px; }
.grid6{width: 324px;}
.grid7{}

/*reset*/
*{ margin: 0; padding : 0; }
.clearfix::after{content: ''; display:block; clear:both;}

body{background-image: url(../images/bg.jpg);
    background-size:cover;
/*    화면에 꽉차게 하는 태그*/
    background-attachment: fixed;
/*    뒤에있는 배경이 고정된다*/
    }

.cotent
.section{background-color:white; width: 960px; padding: 60px 100px; margin: 40px auto; background:rgba(255,255,255,0.7);
    border-radius:50px; }
/*opacity는 부모가 투명해지면 자식도 같이 투명해짐. 우리는 배경만 투명하게 할 것이므로 rgba를 이용한다.*/

.item{background-image:url(../images/item.png); width: 250px; height:170px;             margin-right: 20px; float: left; }

.item2{background-position:-250px;}
.item3{background-position:-500px;}
.item4{background-position:-750px;}

p{width: 690px; float: left; height:170px; margin-bottom: 70px;}
/*이미지와 같은 높이를 주면 float가 일정하게 적용된다*/






